<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/layout :: head('Помилка')}"></head>
<body>
<header th:replace="~{fragments/layout :: header}"></header>
<main class="wrap narrow">
  <h1>Щось пішло не так</h1>
  <p>Спробуйте ще раз або поверніться на головну.</p>
  <a class="button" th:href="@{/}">На головну</a>
</main>
<footer th:replace="~{fragments/layout :: footer}"></footer>
</body>
</html>
